html{font-family: Cambria;background-color:#F8F8FF;}

h1{margin-left:15%;text-align:center;margin-right:60%}
h3{margin-left:15%;text-align:center;margin-right:60%}
h4{margin-left:15%;text-align:center;margin-right:60%}

p{text-indent: 0.7em;text-align:justify}
p::first-line{font-weight:bold;}
p.id{text-indent: 0em;margin-left:3%}
p.id::first-line{font-weight:lighter;}

tr td.periode{font-weight:bold; padding-right:1em;}
table{margin-left:3%}

nav{margin-left:50%;font-style:italic}

a:link{color:#BA55D3}a:visited{color:#8B008B}

tr th{text-align:left;}
